body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}
.header {
    background-color: navy;
    height: 60px; /* Reduced height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.menu-button {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.header-nav {
    display: flex;
}

.header-nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav-list li {
    margin-left: 20px;
}

.header-nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.header-nav-list a:hover {
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #ccc;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#reviewsContainer {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #ccc;
}

#reviewsList {
    list-style-type: none;
    padding: 0;
}
.bullet-points {
    list-style-type: disc;
    margin-left: 20px;
}